p{
    color:rgb(17, 73, 178);
}

hr{
    background-color: #000000;
   
}
*{
    box-sizing: border-box;
    font-family:monospace;
}
.roow{
    text-align: center;
    background: #DB4437    ;
    color: #fff;
    padding: 10px 0;
}   
img{
    text-align: center;
}.carousel{
    margin-right: 80%;
    width: 50%;
    height: 70%;
    display: block;
    margin: auto;
}